{
  "openapi": "3.1.0",
  "info": {
    "title": "Ozon Job mobile API (reverse-engineered)",
    "version": "2.23.0",
    "description": "Static API map recovered from the Ozon Job APK. This is not an official contract. Paths and HTTP methods are confirmed by Retrofit annotations; response schemas and authentication remain incomplete until verified against captured traffic."
  },
  "servers": [
    {
      "url": "https://ojob.ozon.ru",
      "description": "Observed Ozon Job host"
    },
    {
      "url": "https://api.ozon.ru",
      "description": "Alternate host observed during analysis"
    }
  ],
  "paths": {
    "/v1/object/{id}/favorite/add": {
      "post": {
        "tags": [
          "ObjectApi"
        ],
        "operationId": "ObjectApi_addWarehouseToFavorite",
        "summary": "ObjectApi.addWarehouseToFavorite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.ObjectApi",
        "x-java-signature": "@NotNull d<Unit> addWarehouseToFavorite(@Path(\"id\") @NotNull String id2);",
        "x-source": "apiObject/ObjectApi.java"
      }
    },
    "/v2/object/{id}": {
      "get": {
        "tags": [
          "ObjectApi"
        ],
        "operationId": "ObjectApi_getObjectById",
        "summary": "ObjectApi.getObjectById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.ObjectApi",
        "x-java-signature": "@NotNull d<DetailObjectWrapperResponse> getObjectById(@Path(\"id\") @NotNull String id2);",
        "x-source": "apiObject/ObjectApi.java"
      }
    },
    "/v1/object/map/config": {
      "get": {
        "tags": [
          "ObjectApi"
        ],
        "operationId": "ObjectApi_getObjectMapConfig",
        "summary": "ObjectApi.getObjectMapConfig",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.ObjectApi",
        "x-java-signature": "@NotNull d<MapConfigResponse> getObjectMapConfig();",
        "x-source": "apiObject/ObjectApi.java"
      }
    },
    "/v1/object/{id}/route": {
      "get": {
        "tags": [
          "ObjectApi"
        ],
        "operationId": "ObjectApi_getObjectRoutes",
        "summary": "ObjectApi.getObjectRoutes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.ObjectApi",
        "x-java-signature": "@NotNull d<BusRouteResponseResponse> getObjectRoutes(@Path(\"id\") @NotNull String id2);",
        "x-source": "apiObject/ObjectApi.java"
      }
    },
    "/v2/object/by-filter": {
      "post": {
        "tags": [
          "ObjectApi"
        ],
        "operationId": "ObjectApi_getObjectsByFilter",
        "summary": "ObjectApi.getObjectsByFilter",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "ObjectsFiltersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.ObjectApi",
        "x-java-signature": "@NotNull d<ObjectsWrapperResponse> getObjectsByFilter(@Body @NotNull ObjectsFiltersRequest objectsFiltersRequest);",
        "x-source": "apiObject/ObjectApi.java"
      }
    },
    "/v1/object/{id}/favorite/remove": {
      "post": {
        "tags": [
          "ObjectApi"
        ],
        "operationId": "ObjectApi_removeWarehouseFromFavorite",
        "summary": "ObjectApi.removeWarehouseFromFavorite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.ObjectApi",
        "x-java-signature": "@NotNull d<Unit> removeWarehouseFromFavorite(@Path(\"id\") @NotNull String id2);",
        "x-source": "apiObject/ObjectApi.java"
      }
    },
    "/v1/regions": {
      "post": {
        "tags": [
          "RegionsApi"
        ],
        "operationId": "RegionsApi_setRegions",
        "summary": "RegionsApi.setRegions",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "GeolocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.RegionsApi",
        "x-java-signature": "@NotNull d<RegionsResponse> setRegions(@Body @NotNull GeolocationRequest request);",
        "x-source": "apiObject/RegionsApi.java"
      }
    },
    "/v1/region/notification": {
      "post": {
        "tags": [
          "RegionsApi"
        ],
        "operationId": "RegionsApi_setRegionsNotification",
        "summary": "RegionsApi.setRegionsNotification",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "GeolocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.RegionsApi",
        "x-java-signature": "@NotNull d<NotificationResponse> setRegionsNotification(@Body @NotNull GeolocationRequest request);",
        "x-source": "apiObject/RegionsApi.java"
      }
    },
    "/v1/object/list/for-staff": {
      "post": {
        "tags": [
          "StaffObjectApi"
        ],
        "operationId": "StaffObjectApi_getStaffWarehouses",
        "summary": "StaffObjectApi.getStaffWarehouses",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "StaffWarehousesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.StaffObjectApi",
        "x-java-signature": "@NotNull d<StaffWarehousesResponse> getStaffWarehouses(@Body @NotNull StaffWarehousesRequest body);",
        "x-source": "apiObject/StaffObjectApi.java"
      }
    },
    "/v2/stop": {
      "get": {
        "tags": [
          "StopApi"
        ],
        "operationId": "StopApi_getAllStops",
        "summary": "StopApi.getAllStops",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.StopApi",
        "x-java-signature": "@NotNull d<StopsResponse> getAllStops();",
        "x-source": "apiObject/StopApi.java"
      }
    },
    "/v1/stop/{id}/schedule/{objectId}": {
      "get": {
        "tags": [
          "StopApi"
        ],
        "operationId": "StopApi_getBusScheduleFromStopToObject",
        "summary": "StopApi.getBusScheduleFromStopToObject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.StopApi",
        "x-java-signature": "@NotNull d<BusStopScheduleResponse> getBusScheduleFromStopToObject(@Path(\"id\") @NotNull String busStopId, @Path(\"objectId\") @NotNull String objectId);",
        "x-source": "apiObject/StopApi.java"
      }
    },
    "/v2/stop/{id}": {
      "get": {
        "tags": [
          "StopApi"
        ],
        "operationId": "StopApi_getStopById",
        "summary": "StopApi.getStopById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.StopApi",
        "x-java-signature": "@NotNull d<CurrentBusStopResponse> getStopById(@Path(\"id\") @NotNull String busStopId, @Query(ParamsKt.WAREHOUSE_ID_PARAM) String warehouseId);",
        "x-source": "apiObject/StopApi.java"
      }
    },
    "/v1/object/{objectId}/route/{id}": {
      "get": {
        "tags": [
          "StopApi"
        ],
        "operationId": "StopApi_getStopsByRouteId",
        "summary": "StopApi.getStopsByRouteId",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiObject.StopApi",
        "x-java-signature": "@NotNull d<BusStopsByRouteIdResponse> getStopsByRouteId(@Path(\"objectId\") @NotNull String objectId, @Path(\"id\") @NotNull String routeId);",
        "x-source": "apiObject/StopApi.java"
      }
    },
    "/v1/grade/points-history": {
      "get": {
        "tags": [
          "RatingApi"
        ],
        "operationId": "RatingApi_getAccrualHistory",
        "summary": "RatingApi.getAccrualHistory",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRating.api.RatingApi",
        "x-java-signature": "@NotNull d<AccrualHistoryResponse> getAccrualHistory();",
        "x-source": "apiRating/api/RatingApi.java"
      }
    },
    "/v2/grade/rules": {
      "get": {
        "tags": [
          "RatingApi"
        ],
        "operationId": "RatingApi_getAccrualRules",
        "summary": "RatingApi.getAccrualRules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRating.api.RatingApi",
        "x-java-signature": "@NotNull d<AccrualRulesResponse> getAccrualRules();",
        "x-source": "apiRating/api/RatingApi.java"
      }
    },
    "/v1/grade": {
      "get": {
        "tags": [
          "RatingApi"
        ],
        "operationId": "RatingApi_getRatingGrade",
        "summary": "RatingApi.getRatingGrade",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRating.api.RatingApi",
        "x-java-signature": "@NotNull d<RatingResponse> getRatingGrade();",
        "x-source": "apiRating/api/RatingApi.java"
      }
    },
    "/v1/grade/overview": {
      "get": {
        "tags": [
          "RatingApi"
        ],
        "operationId": "RatingApi_getRatingOverview",
        "summary": "RatingApi.getRatingOverview",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRating.api.RatingApi",
        "x-java-signature": "@NotNull d<RatingOverviewResponse> getRatingOverview();",
        "x-source": "apiRating/api/RatingApi.java"
      }
    },
    "/v1/profile/driving-license": {
      "get": {
        "tags": [
          "DrivingLicenseApi"
        ],
        "operationId": "DrivingLicenseApi_getDrivingLicense",
        "summary": "DrivingLicenseApi.getDrivingLicense",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.DrivingLicenseApi",
        "x-java-signature": "@NotNull d<DrivingLicenseFormResponse> getDrivingLicense();",
        "x-source": "apiRegistration/api/DrivingLicenseApi.java"
      },
      "post": {
        "tags": [
          "DrivingLicenseApi"
        ],
        "operationId": "DrivingLicenseApi_setDrivingLicense",
        "summary": "DrivingLicenseApi.setDrivingLicense",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "DrivingLicenseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.DrivingLicenseApi",
        "x-java-signature": "@NotNull d<Unit> setDrivingLicense(@Body @NotNull DrivingLicenseRequest drivingLicenseRequest);",
        "x-source": "apiRegistration/api/DrivingLicenseApi.java"
      }
    },
    "/v1/profile/driving-license/countries": {
      "get": {
        "tags": [
          "DrivingLicenseApi"
        ],
        "operationId": "DrivingLicenseApi_getDrivingLicenseCountries",
        "summary": "DrivingLicenseApi.getDrivingLicenseCountries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.DrivingLicenseApi",
        "x-java-signature": "@NotNull d<CountriesLicenseResponse> getDrivingLicenseCountries();",
        "x-source": "apiRegistration/api/DrivingLicenseApi.java"
      }
    },
    "/v1/registration/fns-phone-number/check": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_checkFnsPhoneNumber",
        "summary": "RegistrationApi.checkFnsPhoneNumber",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<CheckFnsPhoneNumberResponse> checkFnsPhoneNumber();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/personal-data/providers/{provider}/auth-data": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getAccessPersonalData",
        "summary": "RegistrationApi.getAccessPersonalData",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<AuthDataResponse> getAccessPersonalData(@Path(\"provider\") @NotNull String provider, @Query(\"sessionId\") String sessionId);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/registration/cooperation-types": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getCooperationTypes",
        "summary": "RegistrationApi.getCooperationTypes",
        "parameters": [
          {
            "name": "processId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<VacanciesCooperationTypeListResponse> getCooperationTypes(@Query(\"processId\") String processId);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/personal-data/prefilled": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getErrorPersonalData",
        "summary": "RegistrationApi.getErrorPersonalData",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<PersonalDataWithErrorsResponse> getErrorPersonalData();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/employee/registration/inn-and-snils": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getInnAndSnils",
        "summary": "RegistrationApi.getInnAndSnils",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<GetInnAndSnilsResponse> getInnAndSnils();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/employee/registration/inn-and-snils-check-details": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getInnAndSnilsCheckDetails",
        "summary": "RegistrationApi.getInnAndSnilsCheckDetails",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<InnAndSnilsCheckDetailsResponse> getInnAndSnilsCheckDetails();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/registration/citizenships": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getListCitizenship",
        "summary": "RegistrationApi.getListCitizenship",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<CitizenshipInfoListResponse> getListCitizenship();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/personal-data": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getMainPersonalData",
        "summary": "RegistrationApi.getMainPersonalData",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<GeneralPersonalDataDetailsResponse> getMainPersonalData(@NotNull @Query(\"provider\") String provider, @Query(ParamsKt.USER_CHOICE_STATUS) String status, @Query(\"state\") String state, @Query(\"code\") String code);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      },
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setGeneralPersonalData",
        "summary": "RegistrationApi.setGeneralPersonalData",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "GeneralPersonalDataDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<GeneralDataValidationErrorsResponse> setGeneralPersonalData(@Body @NotNull GeneralPersonalDataDetailsRequest body);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/personal-data/providers": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getPersonalDataProviders",
        "summary": "RegistrationApi.getPersonalDataProviders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<RegistrationProvidersResponse> getPersonalDataProviders();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/registration/foreigner/account": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getQuestionnaireLink",
        "summary": "RegistrationApi.getQuestionnaireLink",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<QuestionnaireLinkResponse> getQuestionnaireLink();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/registration/foreigner/form": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getRegistrationForeignerForm",
        "summary": "RegistrationApi.getRegistrationForeignerForm",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<ForeignerRegistrationFormResponse> getRegistrationForeignerForm();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      },
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setRegistrationForeignerForm",
        "summary": "RegistrationApi.setRegistrationForeignerForm",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "ForeignerRegistrationFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EmployeeRegistrationResponse> setRegistrationForeignerForm(@Body @NotNull ForeignerRegistrationFormRequest body);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/smz/availability": {
      "get": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_getSmzAvailability",
        "summary": "RegistrationApi.getSmzAvailability",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<CheckingSmzAvailabilityResponse> getSmzAvailability();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/entrepreneur/resend": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_resendEntrepreneurState",
        "summary": "RegistrationApi.resendEntrepreneurState",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EntrepreneurResendResponse> resendEntrepreneurState();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/smz/resend": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_resendSmzState",
        "summary": "RegistrationApi.resendSmzState",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EntrepreneurResendResponse> resendSmzState();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/registration/smz/resend": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_resendSmzStateNew",
        "summary": "RegistrationApi.resendSmzStateNew",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EntrepreneurResendResponse> resendSmzStateNew();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/photo/reset": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_resetRegistration",
        "summary": "RegistrationApi.resetRegistration",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EmployeeRegistrationResponse> resetRegistration();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v3/registration/citizenship": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setCitizenship",
        "summary": "RegistrationApi.setCitizenship",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "CitizenshipWithDocsBodyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EmployeeRegistrationResponse> setCitizenship(@Body @NotNull CitizenshipWithDocsBodyRequest citizenshipRequestBody);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v2/employee/registration/cooperation-type": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setCooperationType",
        "summary": "RegistrationApi.setCooperationType",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "CooperationTypeBodyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EmployeeRegistrationResponse> setCooperationType(@Body @NotNull CooperationTypeBodyRequest cooperationTypeRequestBody);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/employee/registration/inn-and-snils": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setInnAndSnils",
        "summary": "RegistrationApi.setInnAndSnils",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "InnAndSnilsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<SetInnAndSnilsResponse> setInnAndSnils(@Body @NotNull InnAndSnilsRequest body);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/smz/check-partnership": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setSmzPartnership",
        "summary": "RegistrationApi.setSmzPartnership",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<CheckingPartnershipAvailabilityResponse> setSmzPartnership();",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/employee/registration/warehouse": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_setWarehouse",
        "summary": "RegistrationApi.setWarehouse",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "WarehouseBodyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EmployeeRegistrationResponse> setWarehouse(@Body @NotNull WarehouseBodyRequest requestBody);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/offers": {
      "post": {
        "tags": [
          "RegistrationApi"
        ],
        "operationId": "RegistrationApi_signMultipleOffers",
        "summary": "RegistrationApi.signMultipleOffers",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "SigningOfferTypesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.RegistrationApi",
        "x-java-signature": "@NotNull d<EmployeeBankStatusResponse> signMultipleOffers(@Body @NotNull SigningOfferTypesRequest offerTypesBody);",
        "x-source": "apiRegistration/api/RegistrationApi.java"
      }
    },
    "/v1/registration/face-check/manual": {
      "post": {
        "tags": [
          "SelfRegistrationApi"
        ],
        "operationId": "SelfRegistrationApi_manualFaceCheck",
        "summary": "SelfRegistrationApi.manualFaceCheck",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.SelfRegistrationApi",
        "x-java-signature": "@NotNull d<Unit> manualFaceCheck();",
        "x-source": "apiRegistration/api/SelfRegistrationApi.java"
      }
    },
    "/v1/registration/liveness-video": {
      "post": {
        "tags": [
          "SelfRegistrationApi"
        ],
        "operationId": "SelfRegistrationApi_uploadLivenessVideo",
        "summary": "SelfRegistrationApi.uploadLivenessVideo",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "UploadLivenessVideosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.SelfRegistrationApi",
        "x-java-signature": "@NotNull d<Unit> uploadLivenessVideo(@Body @NotNull UploadLivenessVideosRequest request);",
        "x-source": "apiRegistration/api/SelfRegistrationApi.java"
      }
    },
    "/v1/registration/passport-photo": {
      "post": {
        "tags": [
          "SelfRegistrationApi"
        ],
        "operationId": "SelfRegistrationApi_uploadPassportPhoto",
        "summary": "SelfRegistrationApi.uploadPassportPhoto",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "UploadPhotoPassportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apiRegistration.api.SelfRegistrationApi",
        "x-java-signature": "@NotNull d<Unit> uploadPassportPhoto(@Body @NotNull UploadPhotoPassportRequest request);",
        "x-source": "apiRegistration/api/SelfRegistrationApi.java"
      }
    },
    "/v1/banana/sanction-scale": {
      "get": {
        "tags": [
          "BananaApi"
        ],
        "operationId": "BananaApi_getBananaSanctionScale",
        "summary": "BananaApi.getBananaSanctionScale",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apibanana.BananaApi",
        "x-java-signature": "@NotNull d<BananaSanctionScaleResponse> getBananaSanctionScale();",
        "x-source": "apibanana/BananaApi.java"
      }
    },
    "/v1/banana/scale": {
      "get": {
        "tags": [
          "BananaApi"
        ],
        "operationId": "BananaApi_getBananaScale",
        "summary": "BananaApi.getBananaScale",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.apibanana.BananaApi",
        "x-java-signature": "@NotNull d<BananaScaleResponse> getBananaScale();",
        "x-source": "apibanana/BananaApi.java"
      }
    },
    "/p-api/fresh/v1/track-location": {
      "post": {
        "tags": [
          "TrackingApi"
        ],
        "operationId": "TrackingApi_track",
        "summary": "TrackingApi.track",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "TrackingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.miniappadapters.location.data.network.TrackingApi",
        "x-java-signature": "Object track(@Body @NotNull TrackingRequest trackingRequest, @NotNull d<? super Unit> dVar);",
        "x-source": "miniappadapters/location/data/network/TrackingApi.java"
      }
    },
    "/v1/calendar/object/{id}/process/{processId}/book": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_bookSchedule",
        "summary": "BookingApi.bookSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "BookScheduleParamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<BookScheduleResponse> bookSchedule(@Path(\"id\") @NotNull String warehouseId, @Path(\"processId\") @NotNull String processId, @Body @NotNull BookScheduleParamsRequest bookScheduleParamsRequest);",
        "x-source": "network/api/booking/BookingApi.java"
      }
    },
    "/v3/shifts/book": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_bookShift",
        "summary": "BookingApi.bookShift",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "BookParamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<Unit> bookShift(@Body @NotNull BookParamsRequest bookParamsRequest);",
        "x-source": "network/api/booking/BookingApi.java"
      }
    },
    "/v1/shifts/{shiftId}/cancel": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_cancelShift",
        "summary": "BookingApi.cancelShift",
        "parameters": [
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<Unit> cancelShift(@Path(\"shiftId\") @NotNull String shiftId);",
        "x-source": "network/api/booking/BookingApi.java",
        "x-java-variants": [
          {
            "interface": "ru.ozon.hire.network.apiShift.api.ShiftsApi",
            "method": "cancellationShift",
            "signature": "@NotNull d<Unit> cancellationShift(@Path(\"shiftId\") @NotNull String shiftId);",
            "source": "network/apiShift/api/ShiftsApi.java"
          }
        ]
      }
    },
    "/v1/employee/shifts/cancel": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_cancelShifts",
        "summary": "BookingApi.cancelShifts",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "CancelShiftsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<CancelShiftsResponse> cancelShifts(@Body @NotNull CancelShiftsRequest request);",
        "x-source": "network/api/booking/BookingApi.java"
      }
    },
    "/v1/calendar/object/{id}/process/{processId}/slots": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_getAvailableTimeSlots",
        "summary": "BookingApi.getAvailableTimeSlots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "SelectedScheduleRequest",
                "$ref": "#/components/schemas/SelectedScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Available time slots verified against browser traffic",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftTimeSlotsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation+browser-response",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<ShiftTimeSlotsResponse> getAvailableTimeSlots(@Path(\"id\") @NotNull String warehouseId, @Path(\"processId\") @NotNull String processId, @Body @NotNull SelectedScheduleRequest request);",
        "x-source": "network/api/booking/BookingApi.java"
      }
    },
    "/v1/calendar/object/{id}/process/{processId}": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_getCalendar",
        "summary": "BookingApi.getCalendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "CalendarRequest",
                "$ref": "#/components/schemas/CalendarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar response verified against browser traffic",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation+browser-response",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<CalendarResponse> getCalendar(@Path(\"id\") @NotNull String warehouseId, @Path(\"processId\") @NotNull String processId, @Body @NotNull CalendarRequest request);",
        "x-source": "network/api/booking/BookingApi.java"
      }
    },
    "/v1/calendar/object/{id}/process/{processId}/conflicts": {
      "post": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_getShiftConflicts",
        "summary": "BookingApi.getShiftConflicts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "ShiftConflictsRequest",
                "$ref": "#/components/schemas/ShiftConflictsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conflict check verified against browser traffic",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftConflictsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation+browser-response",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<ShiftConflictsResponse> getShiftConflicts(@Path(\"id\") @NotNull String warehouseId, @Path(\"processId\") @NotNull String processId, @Body @NotNull ShiftConflictsRequest body);",
        "x-source": "network/api/booking/BookingApi.java"
      }
    },
    "/v1/employee/shifts": {
      "get": {
        "tags": [
          "BookingApi"
        ],
        "operationId": "BookingApi_getShifts",
        "summary": "BookingApi.getShifts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response verified against captured browser traffic",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation+har-response",
        "x-java-interface": "ru.ozon.hire.network.api.booking.BookingApi",
        "x-java-signature": "@NotNull d<ShiftListResponse> getShifts();",
        "x-source": "network/api/booking/BookingApi.java",
        "x-java-variants": [
          {
            "interface": "ru.ozon.hire.network.apiShift.api.ShiftsApi",
            "method": "getShifts",
            "signature": "@NotNull d<ShiftListResponse> getShifts();",
            "source": "network/apiShift/api/ShiftsApi.java"
          }
        ]
      }
    },
    "/v1/account/claim-fines/in-progress": {
      "get": {
        "tags": [
          "ClaimsHireApi"
        ],
        "operationId": "ClaimsHireApi_getActiveClaims",
        "summary": "ClaimsHireApi.getActiveClaims",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsHireApi",
        "x-java-signature": "@NotNull d<ClaimsWrapperResponse> getActiveClaims(@Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsHireApi.java"
      }
    },
    "/v1/account/claim-fines/in-archive": {
      "get": {
        "tags": [
          "ClaimsHireApi"
        ],
        "operationId": "ClaimsHireApi_getArchiveClaims",
        "summary": "ClaimsHireApi.getArchiveClaims",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsHireApi",
        "x-java-signature": "@NotNull d<ClaimsWrapperResponse> getArchiveClaims(@NotNull @Query(RemoteMessageConst.FROM) String from, @NotNull @Query(RemoteMessageConst.TO) String to2, @Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsHireApi.java"
      }
    },
    "/v2/account/claim/{id}/download": {
      "get": {
        "tags": [
          "ClaimsHireApi"
        ],
        "operationId": "ClaimsHireApi_getClaimDetailFile",
        "summary": "ClaimsHireApi.getClaimDetailFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsHireApi",
        "x-java-signature": "@NotNull d<ClaimDetailFileResponse> getClaimDetailFile(@Path(\"id\") @NotNull String claimId, @Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsHireApi.java"
      }
    },
    "/v2/account/claims/{id}/details": {
      "get": {
        "tags": [
          "ClaimsHireApi"
        ],
        "operationId": "ClaimsHireApi_getClaimDetails",
        "summary": "ClaimsHireApi.getClaimDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsHireApi",
        "x-java-signature": "@NotNull d<ClaimDetailsResponse> getClaimDetails(@Path(\"id\") @NotNull String claimId, @Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsHireApi.java"
      }
    },
    "/v1/account/online-income-operations/{id}": {
      "get": {
        "tags": [
          "ClaimsHireApi"
        ],
        "operationId": "ClaimsHireApi_getOnlineIncomeOperationsDetails",
        "summary": "ClaimsHireApi.getOnlineIncomeOperationsDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehousePenalty.warehouseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsHireApi",
        "x-java-signature": "@NotNull d<OnlineIncomesResponse> getOnlineIncomeOperationsDetails(@Path(\"id\") @NotNull String claimId, @NotNull @Query(\"warehousePenalty.warehouseId\") String warehouseId);",
        "x-source": "network/api/claims/ClaimsHireApi.java"
      }
    },
    "/v1/staff/claim/{id}/approve": {
      "post": {
        "tags": [
          "ClaimsStaffApi"
        ],
        "operationId": "ClaimsStaffApi_approveClaim",
        "summary": "ClaimsStaffApi.approveClaim",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "EmptyBodyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsStaffApi",
        "x-java-signature": "@NotNull d<Unit> approveClaim(@Path(\"id\") @NotNull String claimId, @Body @NotNull EmptyBodyRequest body);",
        "x-source": "network/api/claims/ClaimsStaffApi.java"
      }
    },
    "/v1/staff/claim-fines/in-progress": {
      "get": {
        "tags": [
          "ClaimsStaffApi"
        ],
        "operationId": "ClaimsStaffApi_getActiveClaims",
        "summary": "ClaimsStaffApi.getActiveClaims",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsStaffApi",
        "x-java-signature": "@NotNull d<ClaimsWrapperResponse> getActiveClaims(@Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsStaffApi.java"
      }
    },
    "/v1/staff/claim-fines/in-archive": {
      "get": {
        "tags": [
          "ClaimsStaffApi"
        ],
        "operationId": "ClaimsStaffApi_getArchiveClaims",
        "summary": "ClaimsStaffApi.getArchiveClaims",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsStaffApi",
        "x-java-signature": "@NotNull d<ClaimsWrapperResponse> getArchiveClaims(@NotNull @Query(RemoteMessageConst.FROM) String from, @NotNull @Query(RemoteMessageConst.TO) String to2, @Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsStaffApi.java"
      }
    },
    "/v2/staff/claim/{id}/download": {
      "get": {
        "tags": [
          "ClaimsStaffApi"
        ],
        "operationId": "ClaimsStaffApi_getClaimDetailFile",
        "summary": "ClaimsStaffApi.getClaimDetailFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsStaffApi",
        "x-java-signature": "@NotNull d<ClaimDetailFileResponse> getClaimDetailFile(@Path(\"id\") @NotNull String claimId, @Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsStaffApi.java"
      }
    },
    "/v1/staff/claim/{id}/details": {
      "get": {
        "tags": [
          "ClaimsStaffApi"
        ],
        "operationId": "ClaimsStaffApi_getClaimDetails",
        "summary": "ClaimsStaffApi.getClaimDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.claims.ClaimsStaffApi",
        "x-java-signature": "@NotNull d<ClaimDetailsWarehouseTypeResponse> getClaimDetails(@Path(\"id\") @NotNull String claimId, @Query(\"contractId\") String contractId);",
        "x-source": "network/api/claims/ClaimsStaffApi.java"
      }
    },
    "/v1/cooperation-types-changing/cancel": {
      "post": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_cancelChangingCooperationType",
        "summary": "ChangingCooperationTypeApi.cancelChangingCooperationType",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<EmployeeStateIdResponse> cancelChangingCooperationType();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/available": {
      "get": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_getAvailableCooperationTypesAndLastChangeDate",
        "summary": "ChangingCooperationTypeApi.getAvailableCooperationTypesAndLastChangeDate",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<Object> getAvailableCooperationTypesAndLastChangeDate();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/cooperation-types/by-vacancy": {
      "get": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_getAvailableVacancies",
        "summary": "ChangingCooperationTypeApi.getAvailableVacancies",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<VacanciesCooperationTypeListResponse> getAvailableVacancies();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/offers": {
      "get": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_getChangingCooperationTypeOffers",
        "summary": "ChangingCooperationTypeApi.getChangingCooperationTypeOffers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCOffersResponse> getChangingCooperationTypeOffers();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/state": {
      "get": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_getChangingCooperationTypeState",
        "summary": "ChangingCooperationTypeApi.getChangingCooperationTypeState",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCResponse> getChangingCooperationTypeState();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/resend": {
      "get": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_resendChangingCooperationType",
        "summary": "ChangingCooperationTypeApi.resendChangingCooperationType",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCStateIdResponse> resendChangingCooperationType();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/entrepreneur/resend": {
      "get": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_resendEntrepreneurState",
        "summary": "ChangingCooperationTypeApi.resendEntrepreneurState",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCStateIdResponse> resendEntrepreneurState();",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/bank-requisites/set": {
      "post": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_setBankRequisites",
        "summary": "ChangingCooperationTypeApi.setBankRequisites",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "CTCBankRequisitesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCBankRequisitesResponse> setBankRequisites(@Body @NotNull CTCBankRequisitesRequest request);",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v2/cooperation-types-changing/offers": {
      "post": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_signChangingCooperationTypeOffers",
        "summary": "ChangingCooperationTypeApi.signChangingCooperationTypeOffers",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "CTCOfferTypesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCStateIdResponse> signChangingCooperationTypeOffers(@Body @NotNull CTCOfferTypesRequest offerTypesBody);",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/cooperation-types-changing/start": {
      "post": {
        "tags": [
          "ChangingCooperationTypeApi"
        ],
        "operationId": "ChangingCooperationTypeApi_startChangingCooperationType",
        "summary": "ChangingCooperationTypeApi.startChangingCooperationType",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "StartChangeCooperationTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.cooperationtypechanging.ChangingCooperationTypeApi",
        "x-java-signature": "@NotNull d<CTCStateIdResponse> startChangingCooperationType(@Body @NotNull StartChangeCooperationTypeRequest request);",
        "x-source": "network/api/cooperationtypechanging/ChangingCooperationTypeApi.java"
      }
    },
    "/v1/profile/emergency-contacts/add": {
      "post": {
        "tags": [
          "EmergencyApi"
        ],
        "operationId": "EmergencyApi_addEmergencyContacts",
        "summary": "EmergencyApi.addEmergencyContacts",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "EmergencyContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.emergency.EmergencyApi",
        "x-java-signature": "@NotNull d<Unit> addEmergencyContacts(@Body @NotNull EmergencyContactsRequest request);",
        "x-source": "network/api/emergency/EmergencyApi.java"
      }
    },
    "/v1/object/filters": {
      "get": {
        "tags": [
          "FiltersApi"
        ],
        "operationId": "FiltersApi_getFilters",
        "summary": "FiltersApi.getFilters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.filters.FiltersApi",
        "x-java-signature": "@NotNull d<GetObjectFiltersResponse> getFilters();",
        "x-source": "network/api/filters/FiltersApi.java"
      }
    },
    "/v1/profile/stories": {
      "get": {
        "tags": [
          "StoriesApi"
        ],
        "operationId": "StoriesApi_getStoriesGroupByGroupId",
        "summary": "StoriesApi.getStoriesGroupByGroupId",
        "parameters": [
          {
            "name": "storyGroupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.stories.StoriesApi",
        "x-java-signature": "@NotNull d<StoriesGroupResponse> getStoriesGroupByGroupId(@NotNull @Query(\"storyGroupId\") String groupId);",
        "x-source": "network/api/stories/StoriesApi.java",
        "x-java-variants": [
          {
            "interface": "ru.ozon.hire.network.api.stories.StoriesApi",
            "method": "getStoriesGroupByScreenType",
            "signature": "@NotNull d<StoriesGroupResponse> getStoriesGroupByScreenType(@NotNull @Query(\"mobileScreen\") String screenType);",
            "source": "network/api/stories/StoriesApi.java"
          }
        ]
      }
    },
    "/v1/profile/stories/viewed": {
      "post": {
        "tags": [
          "StoriesApi"
        ],
        "operationId": "StoriesApi_markStoryAsViewed",
        "summary": "StoriesApi.markStoryAsViewed",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "StoryViewedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.stories.StoriesApi",
        "x-java-signature": "@NotNull d<Unit> markStoryAsViewed(@Body @NotNull StoryViewedRequest request);",
        "x-source": "network/api/stories/StoriesApi.java"
      }
    },
    "/v1/oj-rating/complete_ratings": {
      "post": {
        "tags": [
          "OJRatingApi"
        ],
        "operationId": "OJRatingApi_completeRatings",
        "summary": "OJRatingApi.completeRatings",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "OJCompleteRatingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.whrating.OJRatingApi",
        "x-java-signature": "@NotNull d<OJCompleteRatingsResponse> completeRatings(@Body @NotNull OJCompleteRatingsRequest request);",
        "x-source": "network/api/whrating/OJRatingApi.java"
      }
    },
    "/v1/oj-rating/{ratingId}": {
      "get": {
        "tags": [
          "OJRatingApi"
        ],
        "operationId": "OJRatingApi_getRatingById",
        "summary": "OJRatingApi.getRatingById",
        "parameters": [
          {
            "name": "ratingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.whrating.OJRatingApi",
        "x-java-signature": "@NotNull d<OJRatingByIdResponse> getRatingById(@Path(\"ratingId\") @NotNull String ratingId);",
        "x-source": "network/api/whrating/OJRatingApi.java"
      }
    },
    "/v1/oj-rating/count": {
      "post": {
        "tags": [
          "OJRatingApi"
        ],
        "operationId": "OJRatingApi_getRatingCount",
        "summary": "OJRatingApi.getRatingCount",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-java-type": "OJNewSurveyCountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response; exact schema requires Moshi adapter or captured traffic",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "description": "Ozon Job API error"
          }
        },
        "x-confirmation": "retrofit-annotation",
        "x-java-interface": "ru.ozon.hire.network.api.whrating.OJRatingApi",
        "x-java-signature": "@NotNull d<OJNewSurveyCountResponse> getRatingCount(@Body @NotNull OJNewSurveyCountRequest request);",
        "x-source": "network/api/whrating/OJRatingApi.java"
      }
    },
    "/v1/oj-rating/list": {
      "get": {
        "tags": [
          "OJRatingApi"
        ],
        "operationId": "OJRatingApi_getRatingList",
[...]
